# LOCAL
SONAR_TOKEN="squ_xxxxxxxxxx"
SONAR_HOST_URL="http://sonarqube:9000"

SONAR_PROJECT_KEY="example-client.example-project-api"

SNYK_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"  # get it from https://app.snyk.io/account
